input.ng-valid {
    background-color: #f5f5f5;
    border: 1px solid black;
}
input.ng-invalid.ng-dirty {
    /*background-color: pink;*/
    background-color: lightyellow;
}
.body-color {
    /*off white*/
    background-color: #f5f5f5 ;
}