<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
</head>
<body class="body-color" ng-controller="RegCtrl as ctrl">
<div class="container">

    <h1>Welcome to FSF</h1>
    <h4>To register, please fill in your particulars below: </h4>
    <br>
    <div role="alert">
        <span class="error" ng-show="ctrl.errormsg">{{ctrl.errormsg}}</span>
    </div>
    <br>
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" class="form-control"
                       ng-model="ctrl.email" autofocus required>
                    <!--placeholder="Enter email address" autocomplete="on" -->
                    <div class="help-block"
                          ng-show="validateForm.email.$error.required">
                        <p>Email is mandatory.</p>
                    </div>
                    <div class="help-block"
                          ng-show="!validateForm.email.$error.required&&validateForm.email.$invalid">
                        <p>Email format error!</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password-id">Password</label>
                    <input type="password" class="form-control" name="password" id="password-id"
                           placeholder="&#9679;&#9679;&#9679;&#9679;&#9679" ng-min-length="8" required>
                    <div class="help-block"
                           ng-show="validateForm.password.$error.required">
                        <p>Password is required.</p>
                    </div>
                    <div class="help-block"
                          ng-show="validateForm.password.$invalid&&!validateForm.password.$error.required">
                        <p>Password must be at least 8 characters!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="password-id2">Confirm password</label>-->
            <!--<input type="password" class="form-control" name="password2" id="password-id2"-->
                   <!--placeholder="&#9679;&#9679;&#9679;&#9679;&#9679" required>-->
        <!--</div>-->

        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" ng-min-length="10" class="form-control"
                   ng-model="ctrl.name" required>
            <div class="help-block"
                  ng-show="validateForm.name.$error.required">
                <p>Name is required.</p>.</p>
            </div>
            <span class="help-block"
                  ng-show="!validateForm.name.$error.required&&validateForm.name.$invalid">
                <p>Name must be at least 10 characters!</p>
            </span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Gender</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="male" ng-model="ctrl.gender">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="female" ng-model="ctrl.gender">Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthDate">Date of Birth :</label>
                    <input id="birthDate" type="date" name="birthDate" required class="form-control"
                           ng-model="ctrl.birthDate">
                    <span class="help-block"
                          ng-show="validateForm.birthDate.$error.required">
                        <p>Date of Birth is required.</p>
                    </span>
                    <span class="help-block"
                          ng-show="validateForm.birthDate.$invalid&&!validateForm.birthDate.$error.required">
                        <p>Date of Birth must be specified.</p>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" id="address" name="address" ng-minlength="10" class="form-control"
                   ng-model="ctrl.address" required>
            <div class="help-block"
                  ng-show="validateForm.address.$error.required">
                        <p>Address is required.</p>.</p>
            </div>
            <div class="help-block"
                          ng-show="!validateForm.name.$error.required&&validateForm.name.$invalid">
                        <p>Address must be at least 10 characters!</p>
            </div>

        </div>

        <div class="form-group">

            <label>Country of Address:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="countryCode" value="sg"  checked="checked"
                            ng-model="ctrl.countryCode">Singapore
                </label>
                <label class="radio-inline">
                    <input type="radio" name="countryCode" value="ms"
                           ng-model="ctrl.countryCode">Malaysia
                </label>
                <label class="radio-inline">
                    <input type="radio" name="countryCode" value="th"
                           ng-model="ctrl.countryCode">Thailand
                </label>
                <label class="radio-inline">
                    <input type="radio" name="countryCode" value="ph"
                           ng-model="ctrl.countryCode">Philipines
                </label>

            </div>
        </div>
        <br>
       <div class="form-group">
            <label for="tel-id" >Contact No :</label>
            <input type="tel" name="tel" id="tel-id"  ng-model="ctrl.tel" class="form-control" required placeholder="Input mobile no">
            <div class="help-block"
                 ng-show="validateForm.tel.$invalid&&validateForm.tel.$error.required">
                <p>Contact no is required.</p>
            </div>
        </div>
        <br>

        <div class="form-group">
            <button ng-click="ctrl.thanku()"  type="submit" class="btn btn-success" ng-disabled="validateForm.$invalid" >
                Register
            </button>
        </div>

    </form>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/client-index.js"></script>
</html>
